.ChangePassword-body {
  padding: 30px;
  overflow: visible;
}
.password-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.password-form label {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(50%);
  transition: all 0.3s ease;
  font-size: 16px;
  color: #888;
  pointer-events: none; /* Label을 클릭할 수 없게 */
  background-color: transparent; /* 배경색을 input 배경색과 맞춤 */
  padding: 0 5px; /* input 내부에서 겹치지 않도록 여백 */
  margin-top: 5px;
}

.password-form input {
  width: 100%;
  padding: 20px 10px 10px; /* label이 안에 들어가도록 위쪽에 여백을 추가 */
  font-size: 16px;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 10px !important;
  transition: border-color 0.3s ease;
}

.password-form input:focus {
  outline: none;
  border-color: #ffcd19;
}

.input-group input:focus + label,
.input-group.active label {
  top: -12px;
  left: 10px;
  font-size: 12px;
  color: #ffcd19;
}

.info {
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}
.pw-error-message {
  font-size: 12px;
  color: #f72b25;
  margin-bottom: 20px;
}
.pw-ok-message {
  font-size: 12px;
  color: #255df7;
  margin-bottom: 20px;
}
