.profileCard {
  width: 100%;
  height: 100%;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #000;
}
header {
  display: flex;
  font-size: large;
  color: white;
}
header span {
  margin-left: 10px;
}
header .save {
  width: 75px;
  margin-left: auto;
  border: solid 1px #ffcd19;
  background-color: #ffcd19;
  color: black;
  border-radius: 32px;
  text-align: center;
}
.cardMain {
  width: 100%;
  height: 100%;
}
.cardMain .main1 {
  display: flex;
  flex-direction: row; /* 수평 방향으로 정렬 */
  align-items: center; /* 수직 정렬 */
}
.gallery figure {
  width: 150px;
  height: auto;
}

.gallery {
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: 10px; /* Space between gallery and nameContent */
  margin-bottom: 10px;
}

.userImage {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.gallery figcaption {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery figcaption:hover {
  opacity: 1;
  cursor: pointer;
}

.nameContent {
  flex: 0; /* Makes nameContent take the remaining space */
  border-radius: 20px;
  border: 1px solid gray;
  color: white;
  text-align: left;
}
.nameHeader {
  padding: 10px;
}
#userName {
  color: white;
  background-color: inherit;
  border: none;
  margin-left: 10px;
  width: 95%;
  height: auto;
  outline: none;
}

.introHeader {
  color: white;
  padding: 10px;
}
.introContent {
  height: 140px;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  text-align: left;
}

#introduce {
  padding: 0 10px 10px 10px;
  background-color: inherit;
  color: white;
  border: none;
  width: 100%;
  height: 90px;
  word-break: break-all;
  outline: none;
  resize: none;
}

.saveBtn {
  width: 75px;
  margin-top: 20px;
  margin-left: auto;
  border: solid 1px #ffcd19;
  background-color: #ffcd19;
  color: black;
  border-radius: 32px;
  text-align: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  z-index: 1000; /* 모달이 다른 요소들보다 위에 표시되도록 설정 */
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  background-color: black; /* 모달 내용 배경색을 흰색으로 설정 */
  border-radius: 10px;
  padding: 20px;
  max-width: 750px; /* 모달 최대 너비를 설정 */
  height: auto;
  width: 100%; /* 모바일 화면에서도 100% 너비를 사용 */
  border: 1px solid #595959;
}

.closeBtn {
  background-color: inherit;
  border: none;
}
