header {
  display: flex;
  align-items: center;
}

.backArrow {
  width: 50px;
}

.nickName {
  color: gray;
}

.userContainer {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  padding: 20px;
  align-items: center;
}

.pic {
  width: 120px;
  height: 120px;
}

.proImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userInfo {
  display: flex; /* Flexbox로 좌우 정렬 */
  align-items: center; /* 세로 정렬: 가운데 정렬 */
}

.Info {
  width: 300px;
  flex: 1;
  margin-right: 0;
}

.introduce {
  margin-top: 10px;
  font-size: 18px;
}
.edit {
  margin-left: auto; /* 자동으로 오른쪽으로 정렬 */
  display: flex; /* 필요시 버튼 정렬을 위해 flexbox 사용 */
  align-items: center; /* edit 안의 콘텐츠를 세로 가운데 정렬 */
}

.editProfile {
  display: flex;
  border: 3px solid #ffcd19;
  border-radius: 50px;
  width: 150px;
  height: 50px;

  justify-content: center;
  align-items: center;
}

.bBtn {
  font-size: 24px;
  color: #ffcd19;
  background-color: inherit;
  border: none;
}

.switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.switch-posts,
.switch-comments {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
}

.switch-posts:hover,
.switch-comments:hover {
  color: #ffcd19;
  cursor: pointer;
}
