.scroll-observer {
  height: 20px;
}

.order {
  text-align: center;
  width: 570px;
  position: fixed;
  top: 0; /* 화면의 상단에 고정 */
  background-color: black;
  z-index: 1000;
}

.Latest,
.popularity {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50px;
  border-bottom: 1px solid white;
  box-sizing: border-box;

  &.active {
    color: #fae100;
    pointer-events: none;
    border-bottom: 3px solid #fae100;
    font-weight: bold;
  }
}

/* .pop,
.late {

  width: 250px;
  height: 40px;

  &.active {
    color: orange;
    border-bottom: 2px solid orange;
    pointer-events: none;
  }
} */

.Latest:hover,
.popularity:hover {
  cursor: pointer;
  color: #fae100;
}

.Latest > div,
.popularity > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.feed_main {
  height: 100vh;
}

.switch-date,
.switch-pop {
  width: 100%;
  height: 100%;
}

/*!!!!!임시!!!!!*/
/*
.feed_orders {
  height: 200px;
  line-height: 200px;
  font-size: 50pt;
  border: 5px dotted orange;
  text-align: center;
}*/

.posting {
  margin-top: 56px;
}
