.order {
  text-align: center;
  width: 100%;
}

.Latest,
.popularity {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.pop,
.late {
  &.active {
    color: orange;
    border-bottom: 2px solid orange;
    pointer-events: none;
  }
}

.Latest:hover,
.popularity:hover {
  cursor: pointer;
  color: orange;
}

.Latest > div,
.popularity > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.feed_main {
  height: 100vh;
}

/*!!!!!임시!!!!!*/
/*
.feed_orders {
  height: 200px;
  line-height: 200px;
  font-size: 50pt;
  border: 5px dotted orange;
  text-align: center;
}*/
