.order {
  text-align: center;
  width: 100%;
}

.Latest,
.popularity {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50px;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

.Latest > div,
.popularity > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.feed_main {
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* 스크롤바의 너비 (auto, thin, none) */
  scrollbar-color: #2c2c2c #000000; /* 스크롤바 손잡이와 트랙 색상 */
}
