.write-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid white;
}

.write-row {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.profile-image {
  flex-shrink: 0;
}

.textarea-container {
  flex-grow: 1;
}
.textarea-container textarea {
  width: 100%;
  resize: none;
  background-color: black;
  border: none;
  color: white;
  overflow: hidden;
}
.textarea-container textarea:focus {
  outline: none;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}
.custom-swal-title {
  font-size: 16px; /* 원하는 글자 크기로 설정 */
  font-weight: bold; /* 필요에 따라 글꼴 두께도 조정 가능 */
}
