.notifications-header {
  border-bottom: 1px solid white;
  display: flex;
  height: 50px;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  min-width: 570px;
}
.notifications-left-section {
  display: flex;
  align-items: center;
}
.notifications-header span {
  font-size: 20px;
  margin-left: 10px;
}

.noti-container {
}
