/*.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid black;
}*/

/* 전체 컨테이너 설정 */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 화면 크기에 따라 줄바꿈 허용 */
  max-width: 100%; /* 최대 너비를 100%로 설정 */
  /* max-width: 1100px;*/
  margin: 0 auto; /* 가운데 정렬 */
  /*padding: 0 10px; /* 양쪽에 약간의 여백 추가 */
}

/* 각 섹션의 유연한 크기 설정 */
.leftNav,
.center,
.rightNav {
  flex-basis: 100%; /* 기본적으로 100%의 너비 */
  /*margin-bottom: 20px; /* 섹션 간 여백 */
}
.center {
  background-color: #000000;
  color: white;
  height: 100%;
  z-index: 2;
  border-left: 1px solid white;
  border-right: 1px solid white;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  .leftNav {
    flex-basis: 23%; /* 화면 크기가 600px 이상일 때 23% 할당 */
  }

  .center {
    flex-basis: 50%; /* 화면 크기가 600px 이상일 때 50% 할당 */
  }

  .rightNav {
    flex-basis: 27%; /* 화면 크기가 600px 이상일 때 27% 할당 */
  }
}
