.gameContainer {
  vertical-align: middle;
  display: flex;
  padding: 5px;
}

.gameImg > img {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.gameImg {
  height: 40px;
  line-height: 40px;
}

.gameTitle {
  min-width: 180px;
  height: 40px;
  line-height: 40px;
}
.BoardName-hover:hover {
  background-color: #313131;
  border-radius: 10px;
}
