.moreContainer {
  vertical-align: middle;
  display: flex;
  padding: 5px;
}
.moreContainer:hover {
  background-color: #313131;
  border-radius: 10px;
}

.more_image {
  height: 40px;
  line-height: 40px;
}

.more_text {
  width: 180px;
  height: 40px;
  line-height: 40px;
}
