.profile-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #000000;
}

.profile-img {
  margin-right: 10px;
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.profile-id {
  color: #888;
}

.profile-more {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
