.sidebar {
  width: 23%;
  background-color: #000000;
  border-right: 1px solid white;
  box-sizing: border-box;
  color: white;
  position: fixed;
  height: 100%;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.logoCon {
  text-align: left;
}

.logoButton {
  text-align: left;
  background-color: #000000;
  border: none;
  width: 280px;
  height: 40px;
}
.logo {
  width: 30px;
  height: 30px;
}
