.sidebar {
    width: 23%;
    background-color: #6d6d6d;
    color: white;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}

.sidebar h2 {
    text-align: center;
    padding-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    text-align: left;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}
