.searchBox {
  width: 250px;
  height: 40px;
  background-color: rgb(48, 48, 48);
  border-radius: 50px;
  border: 1px solid rgb(48, 48, 48);
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  width: 250px;
  height: 30px;
  color: white;
  background-color: transparent;
  flex: 1;
}

.searchInput::placeholder {
  color: gray;
}

input.searchInput:focus {
  outline: none;
}

.searchButton {
  border: none;
  width: 20px;
  height: 20px;
  margin: 1px 8px;
  background-color: transparent;
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  padding: 0;
}

.searchButton_icon {
  width: 20px;
  height: 20px;
  color: gray;
}
.searchBox:focus-within {
  background-color: black;
  border: 1px solid #ffcd19;
}
.searchBox:focus-within .searchButton_icon {
  color: #ffcd19;
}
