.writingArea {
  width: 100%;
  border-bottom: 1px solid white;
}

.writingArea textarea {
  width: 98%;
  resize: none;
  background-color: black;
  border: none;
  color: white;
}

.writingArea textarea:focus {
  outline: none;
}

/* .Wtable td {
  border: 1px solid red;
} */
.Wtable {
  width: 100%;
}
.writingArea .ProfileImg {
  width: 5%;
}
.writingArea .btn {
  text-align: right;
}
