.developer-info {
  padding: 20px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.developer-card {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.developer-card h3 {
  margin: 0 0 10px;
}

.developer-card p {
  margin: 5px 0;
}

.developer-card a {
  color: #ffcd19;
  text-decoration: none;
}

.developer-card a:hover {
  text-decoration: underline;
}
